.com-tsolucio-Admin-app-selector {
  margin-bottom: 0.5em;
  font-size: 14px;
}

.com-tsolucio-Admin-app-description {
  float: right;
  margin: 0.5em 1em;
}

.com-tsolucio-Admin-app-icon-div {
  float: right;
  margin-bottom: 1em;
}