/*
* evvtApps v3.0 for vtiger CRM >5.1
 * Copyright 2012 JPL TSolucio, S.L. -- This file is a part of evvtApps.
 * You can copy, adapt and distribute the work under the "Attribution-NonCommercial-ShareAlike"
 * Vizsage Public License (the "License"). You may not use this file except in compliance with the
 * License. Roughly speaking, non-commercial users may share and modify this code, but must give credit
 * and share improvements. However, for proper details please read the full License, available at
 * http://vizsage.com/license/Vizsage-License-BY-NC-SA.html and the handy reference for understanding
 * the full license at http://vizsage.com/license/Vizsage-Deed-BY-NC-SA.html. Unless required by
 * applicable law or agreed to in writing, any software distributed under the License is distributed
 * on an  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and limitations under the
 * License terms of Creative Commons Attribution-NonCommercial-ShareAlike 3.0 (the License).
*
*/

html, body {
	height: 100%;
}

/* evvtApps base CSS */
.evvtCanvas {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	width: 96%;
	height: 100%;
	text-decoration: none;
	font-size: 100%;
	list-style: none;
	float: left;
}

.evvtToolbar {
	float: right;
}

.evvtBack {
	height: 54px;
	width: 137px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -27px;
	margin-left: -73px;
}

.evvtappbox {
	height: 74px;
	width: 74px;
	border: 0;
	float: left;
}

.evvtappbox img {
	height: 64px;
	width: 64px;
	position: relative;
	top: 50%;
	left: 50%;
	margin-top: -32px;
	margin-left: -32px;
}

.evvtappbox-highlight {
	background-image:url('target.png');
	background-repeat:no-repeat;
	background-position:8px 12px;
	height: 54px;
	width: 54px;
	opacity:0.6;
}

#launchers {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/***************************************************************************/

#evvtrightButton{
    width: 5%;
    height: 640px;
    float: right;
    background-color: #fff;
    /* border: 1px solid blue; */
}
#evvtleftButton{
    width: 5%;
    height: 640px;
    float: left;
    background-color: #fff;
    /* border: 1px solid blue; */
}
#evvtrightButton input,#evvtleftButton input{
    width: 100%;
    height: 100%;
    font-size: 20px;
    font-weight: bold;
    border: none;
    background-color: #fefefe;
    color: #999 !important;
}
#evvtrightButton input:hover{
   /*background-color: #f1f1f1; */
   border-left: 1px solid #f1f1f1;
}
#evvtleftButton input:hover{
   /*background-color: #f1f1f1; */
   border-right: 1px solid #f1f1f1;
}
#evvtheader, #evvtheaderhide{
	/*
    position: fixed;
    top: auto;
    */
    width: 100%;
    height: 45px;
    /*
    bottom: 0 !important;
    bottom: -1px;
    */
    background-color: #f1f1f1; 
    background-image: -webkit-linear-gradient( rgba(242, 242, 242, 0.9), rgba(222, 222, 222, 0.9));
}

#evvtheaderhide{
	height: 4px;
	text-align: center;
	border-bottom: 1px solid #b1b1b1;	
}

#evvtheaderCenter{
    /*border: 1px solid red !important;*/
    height: 40px;
    margin-right: 30%;
    margin-left: 30%;
    text-align: center;
}
#evvtheaderCenter a{
    background-image: url('../images/bgLink.png');
    background-repeat: no-repeat;
    width: 80px;
    height: 9px;
    /*border: 1px solid red;*/
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    color: #7F7F7F;
    font-size: 0.9em;
    font-weight: bold;
    text-decoration: none;
}
#evvtheaderCenter a:hover{
    background-image: url('../images/bgLinkHover.png');
}
.evvtheaderCenterActive{
    background-image: url('../images/bgLinkActive.png') !important;
}
#defaultcanvasimg1, #defaultcanvasimg2, #defaultcanvasimg3 {
    position: relative;
    float: center;
    left: 64px;
    top: -20px;
    width: 8px;
    height: 8px;
}
#defaultcanvasimg2 {
	left: 139px;
}
#defaultcanvasimg3 {
	left: 212px;
}
.defaultcanvasimg {
    position: relative;
    float: center;
    display: block;
    left: 64px;
    top: -20px;
    width: 80px;
    height: 8px;
    background-image: url('../images/selectedcanvas.png') !important;
}

#evvtheaderRight{
    /* border: 1px solid red !important; */
    width: 40%;
    height: 40px;
    float: right;
    text-align: right;
}
#evvtHeaderImage {
    height: 45px;
    margin-top: 2px;
    margin-right: 4px;
}
#evvtHeaderJumpTo {
    margin-top: 22px;
    margin-right: 4px;
}
#evvtHeaderDesc {
    color: #7F7F7F;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
    padding-right: 0;
    text-align: right;
    word-wrap: break-word;
    border: 0;
    height: 40px;
    width: 85%;
    float:left;
}
#evvtheaderLeft{
    /*border: 1px solid red !important;*/
    width: 20%;
    height: 40px;
    float: left;
    margin-left: 10px;
    margin-top: 5px;
}

#evvtheaderLeft img{
    height: 30px;
}

.evvtappContentDiv {
	height:100%;
}

.evvtappTitleBar, .evvtappTitleBarTitle, .evvtappTitleBarTools {
    width: 100%;
    height: 16px;
    background-color: #f1f1f1; 
    background-image: -webkit-linear-gradient( rgba(242, 242, 242, 0.9), rgba(222, 222, 222, 0.9));
    overflow: hidden;
}
.evvtappTitleBarTitle {
    width: 58%;
    float: left;
    padding-left: 4px;
    overflow: hidden;
}
.evvtappTitleBarTools {
    width: 39%;
    float: right;
    padding-right: 6px;
    text-align: right;
    overflow: hidden;
}
.evvtappTitleBarToolsDestroy, .evvtappTitleBarToolsRefresh, .evvtappTitleBarToolsClone, .evvtappTitleBarToolsEdit, .k-i-edit {
	background-image: url('../kendoui/styles/Default/sprite.png');
	padding-left: 2px;
	float: right;
	height: 16px;
	width: 16px;
	overflow: hidden;
}
.evvtappTitleBarToolsDestroy {
	background-position: -32px -16px;
}
.evvtappTitleBarToolsRefresh {
	background-position: -32px -112px;
}
.evvtappTitleBarToolsClone {
	background-position: -32px -128px;
}
.evvtappTitleBarToolsEdit, .k-i-edit {
	background-position: -32px 0;
}

/*  Quick Jump To DropDown List */
#vtappDDList-list .k-item {
    overflow: hidden; /* clear floated images */
    vertical-align: middle;
    font-weight: bold;
}

#vtappDDList-list img {
    box-shadow: 0 0 4px rgba(255,255,255,.7);
    float: left;
    margin: 5px;
    vertical-align: middle;
}

#evvtDashboardEditor {
	height: 592px;
	width: 292px;
	margin: 0;
	padding: 0;
}

.evvtDashboardEditorpane-content {
	/* height: 50%; */
	width: 95%;
}

.evvtDashboardEditorMenuTop {
	width:100%;
	height:32px;
	display:block;
	background-image: url('../images/fondomenu.png');
	text-align: center;
	font-size: 1.4em;
	font-weight: bold;
}

.evvtDashboardEditorTool {
	width:30px;
	height:30px;
	float: left;
}

.evvtDashboardEditorToolAddRowLayout {
	background-image: url('../images/sibling_icon.png')
}

.evvtDashboardEditorToolAddvtAppCell {
	background-image: url('../images/children_icon.png')
}

.evvtDashboardEditorToolDelete {
	background-image: url('../images/delete_icon.png')
}

.evvtDashboardEditorToolCollapseExpand {
	background-image: url('../images/treecolexp.png')
}

.evvtDashboardEditorToolRefresh {
	background-image: url('../images/refresh_icon.png')
}

.evvtDashboardEditorToolSave {
	background-image: url('../images/save_icon.png')
}

.evvtDashboardEditorToolActive {
	background-position: 0 0;
}

.evvtDashboardEditorToolUnactive {
	background-position: 0 30px;
}

#evvtDashboardEditorTreeview {
    float: left;
    width: 300px;
}

#evvtDashboardEditorTreeview .evvtdbrow {
    background-image: url("../images/dbrow.png");
}

#evvtDashboardEditorTreeview .evvtdbcol {
    background-image: url("../images/dbcol.png");
}

#evvtDashboardEditorTreeview .evvtdbapp {
    background-image: url("../images/vtevolutivo_16.png");
}

.evvtdbhighlightpane {
    border: 2px solid #8597AF;
    float: left;
    /* height: 97%; */
    left: 0;
    position: absolute;
    top: 0;
    /* width: 99%; */
    z-index: 10000;	
}

.delete-link {
    width: 12px;
    height: 12px;
    background: transparent url("../images/close.png") no-repeat 50% 50%;
    overflow: hidden;
    display: inline-block;
    font-size: 0;
    line-height: 0;
    vertical-align: top;
    margin: 2px 0 0 3px;
    -webkit-border-radius: 5px;
    -mox-border-radius: 5px;
    border-radius: 5px;
}

.evvtPropertyItem div {
    border-right: 1px solid #D4D4D4;
    border-bottom: 1px solid #D4D4D4;
    height: 22px;
    line-height: 22px;
    overflow: hidden;
    padding-left: 2px;
}

.evvtPropertycol2 {
    text-align: left;
    background-color: #FFFFFF;
    width:59%;
    cursor: pointer;
}

.evvtPropertycol1 {
	cursor: default;
	background-color: #F0F6FE;
	width: 39%;
    float: left;
    font-weight: bold;
}
